<div class="mobilemenusmall">
    <div class="cross">
        <i class="fa-solid fa-circle-xmark"></i>
    </div>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/pages/about.html' | relative_url }}">About</a></li>
        <li><a href="{{ '/pages/services.html' | relative_url }}">What we do</a></li>
        <li><a href="{{ '/pages/portfolio.html' | relative_url }}">Portfolio</a></li>
        <li><a href="{{ '/pages/contact.html' | relative_url }}">Contact Us</a></li>
    </ul>
</div>

<div class="header">
    <h2><span></span>Abdul Nafa</h2>
    <ul>
        <li><a {% if page.active == 'home' %}class="active" {% endif %}href="{{ '/' | relative_url }}">Home</a></li>
        <li><a {% if page.active == 'about' %}class="active" {% endif %}href="{{ '/pages/about.html' | relative_url }}">About</a></li>
        <li><a {% if page.active == 'services' %}class="active" {% endif %}href="{{ '/pages/services.html' | relative_url }}">What we do</a></li>
        <li><a {% if page.active == 'portfolio' %}class="active" {% endif %}href="{{ '/pages/portfolio.html' | relative_url }}">Portfolio</a></li>
        <li><a {% if page.active == 'contact' %}class="active" {% endif %}href="{{ '/pages/contact.html' | relative_url }}">Contact Us</a></li>
    </ul>
    <i class="fa-solid fa-align-justify openmenu"></i>
</div>
